{{! Copyright 2024 The Fuchsia Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. }}
<div>
  <h2>Package: {{this.[0]}}</h2>
  {{#if this.[1].components}}
  <table class="contents-table">
    <thead>
      <tr>
        <th>Component</th>
        <th>Offered and Exposed Protocols</th>
        <th>Used Protocols</th>
      </tr>
    </thead>
    {{#each this.[1].components}}
    <tr>
      <td>{{@key}}</td>
      {{#if (or this.exposed_from_self this.offered_from_self)}}
      <td>
        <ul>
          {{#each this.exposed_from_self}}
          <li>
            {{ capability_str this }} (exposed)
            {{{ capability_target_list this @root.[2] @root.[3] }}}
          </li>
          {{/each}}
          {{#each this.offered_from_self}}
          <li>
            {{ capability_str this }} (offered)
            {{{ capability_target_list this @root.[2] @root.[3]}}}
          </li>
          {{/each}}
        </ul>
      </td>
      {{else}}
      <td></td>
      {{/if}}
      {{#if (or this.used_from_parent this.used_from_child)}}
      <td>
        <ul>
          {{#each this.used_from_parent}}
          <li>
            {{ capability_str this }} (from parent)
          </li>
          {{/each}}
          {{#each this.used_from_child}}
          <li>
            {{ capability_str this.0 }} (from child)
          </li>
          {{/each}}
        </ul>
      </td>
      {{else}}
      <td></td>
      {{/if}}
    </tr>
    {{/each}}
  </table>
  {{/if}}
</div>

<table class="contents-table">
    <thead>
          <th>File</th>
          <th>Hash</th>
      </thead>
      {{#each this.[1].files }}
      <tr>
          <td>{{this.name}}</td>
          <td><a href="{{(content_link this.hash)}}">{{this.hash}}</a></td>
      </tr>
      {{/each}}
</table>
