<html lang="en">
  <head>
    <title>dupefinder report {{timestamp}}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Duplicate Allocation Report {{timestamp}}</h1>
    <h2>Summary</h2>
    <table>
      <tr>
        <td># allocations</td>
        <td>{{num_total}}</td>
      </tr>
      <tr>
        <td># unique allocations</td>
        <td>{{num_uniques}}</td>
      </tr>
      <tr>
        <td># duplicate allocations</td>
        <td>{{num_dupes}}</td>
      </tr>
      <tr>
        <td>Unique allocated bytes</td>
        <td>{{unique_bytes}}</td>
      </tr>
      <tr>
        <td>Duplicate allocated bytes</td>
        <td>{{duped_bytes}}</td>
      </tr>
      <tr>
        <td>Unblamed duped bytes (e.g. standard library, instrumentation, etc.)</td>
        <td>{{unblamed_duped_bytes}}</td>
      </tr>
      <tr>
        <td>Total allocated bytes</td>
        <td>{{total_bytes}}</td>
      </tr>
    </table>
    <h2>Source locations allocating duplicates over {{dupe_threshold}} bytes</h2>
    <table>
      <thead>
        <tr>
          <td># bytes</td>
          <td>function</td>
        </tr>
      </thead>
      <tbody>

      {{#each dupe_locations as |dl|}}
      <tr>
        <td>{{dl.bytes}}</td>
        <td>
          <tt>
            <a href="{{{(codesearch_url dl.source.filename dl.source.line)}}}" target="_blank">
              {{dl.source.function}}
            </a>
          </tt>
        </td>
      </tr>
      {{/each}}

      </tbody></table>
  </body>
</html>
